
body {
    background: #ffff;
    font-family: Helvetica, sans-serif;
    align-self: center;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
}

img {
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: left;
    width: 100%;
    flex-direction: column; /* Items stack vertically */
  }

.container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates a 3-column grid */
    grid-gap: 25px; /* Adds 10px of space between grid items */
    padding-top: 25px;
    justify-content: center;
    width: 100%;
    flex-direction: row; /* Items stack vertically */
}

.content {
    background-color: #eeeeee;
    border-radius: 10px;
    padding: 20px;
}


  