
body {
    background: #ffff;
    font-family: Helvetica, sans-serif;
    align-self: center; 
    width: 66%;
}

img {
    width: 100%;
}

.container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Optional: Set a specific height if needed */
  }
  