
body {
    background: #ffff;
    font-family: Helvetica, sans-serif;
    align-self: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
}

img {
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: left;
    width: 100%;
    flex-direction: column; /* Items stack vertically */
  }

.container2 {
    display: flex;
    justify-content: center;
    align-items: left;
    width: 100%;
    flex-direction: row; /* Items stack vertically */
}

.content {
    background-color: #eeeeee;
    width: 50%;
    border-radius: 10px;
    padding-right: 5%;
}

.box {
    display: flex;
    flex-direction: row; /* Items are laid out horizontally */
}

  