
body {
    background: #ffff;
    font-family: Helvetica, sans-serif;
    align-self: center;
}

img {
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: left;
    width: 100%;
    flex-direction: column; /* Items stack vertically */
  }

.sub-container {
    display: flex;
}
  